body{
  margin: 0;
  padding: 0;
font-family: 'Lexend Deca', sans-serif;
}
.carousel-item{
  animation-duration: 3s;
  height: 100%;
}
.navbar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar-brand a{
   color: white;
   text-decoration: none;

}
.tamdao{
  text-align: center;
  padding-left: 
  padding: auto;
  padding-top: 30px;
}
.w-50{
  width: 50%;
}
.bao-td{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8ODw4NDQ0NDg0PDQ0NDQ4NDxANDg0NFREWFxURFRUZHSggGBolGxUWITEmJSkrLi4wFx8zODMsNygtLisBCgoKDg0OFQ8QFTcdHh0rKysvKy4tKysrKy41LSstKzMtKysyNys3Li0rKysrLTYrLy4rKy4rKystNystLS0tLf/AABEIALsBDQMBEQACEQEDEQH/xAAbAAEBAQEBAQEBAAAAAAAAAAAAAQIDBAUGB//EACwQAQEAAgEDBAEDAwUBAAAAAAABAhEDEiExBEFRYXEFIoETMkKxwdHw8aH/xAAbAQEBAAIDAQAAAAAAAAAAAAAAAQIEAwUGB//EACkRAQACAgEEAQMDBQAAAAAAAAABAgMRBAUhMUESIlGBFGGxBhMjwfH/2gAMAwEAAhEDEQA/AP7NzY7xs3rt5S8RNZifGkjy+ByTz8fPy+Y5YxYss1wZJtHeN61/121JmY+qHPj9Vnxb6OmW63bjLb9O04POyYK/44iN+9eWVsVck/U/S+nzuWGOWU1lccbZ8Wzw9xitN6VtMamYdReIi0xDWGW8tfW/y5Eg5sLuWeJvc+tf+CuHV03et9qI7cPLMt9tUJbyzk8guQMKgAAAAAAAAAAAAAAAAAAAAAADHNh1Y2fLG1YtExPtXzuf9OvTdXd3LJ/Lz8f07gx1yTSZm0xMRvxG2x+ptMxtv9M9Jljcss5Namp57/J0Tp3I4trzm7RPre/yy5Gat4iIfRt13+bJPzXoWq4cuHVZN3HLfaztYDvnrj48srlllMcbbcru1FcufG+2v5VF4cOiW3z/AKA6Z6surLrzqy6RXHhl6srb/Fqo7KgAAAAAAAAAAAAAAAAAAAAAAC4Tcl+e6Lpi5QFy3q686VE9Plc505Yak7b3LMrPhiyY5/azf1ZtRObjy5MLjne2vE979ibXjyyykmU7+Lfa/YO9gMYTtcddrvv9UDHDXfzfAKqAAKAAAAACAAAAAAAAAAAAAAAvHxTHclur36bd6+4xZOXJrtrXT/sqOlnwqOOGGfTlhuasykv+U2ml216fq6cccpq4yY7+ddtg6iG9IqYckym8bMp8y7iVvW0brO1mJjzDTJE2CKigAAAAAAAAAgAAAAAAAAAAAAPN6LPDDrxt1nc7d5btymu3f3RWePjzlyx7XC5ZZY784y3evwD1y6VGcMtyZS/n6vwip/Vm5O/f3B0EfM/Us8+qzqvTcfE1rX28/wBXy5sWSs1yfTMa+P3+7bwRWY7x3Y/S8s8b0Y4y4XLed9+887/hn0vJkiIpWvb2z5EVnvM931tu+aQIAAAoAoAAAIgAAAIAAAAAAAAAADhy54Yfuy1Lq2fN01s/LxYNf3Lamd6j3OvszrSbeIX0vPOTGZSWb32ut+dHE5VeTijJWNb9T5XJjmlvjLWXN0ZTq/s1e+t6vs2GEN4cmGWOXJjP297cumzq15v2is3HvL7eyo6Kjlyenxyu7N9tODLxsWW1bXrua+GUWmO0SnB6fHDevdMPFx4ZtNI8ra821t1bDBQAUAUQUAAAEAUBEABAAAAAAAAAAAeL1/p8s+npk333bdOm6v06/MrStNdp7zPmI/Zz4ckUmduf6X6Po6s8pZnf2zv/AI9vb8sekdPvxq2nLGrePO+zPkZvnqI8Pfl4d21WeHqmPRZNas39fhNKnBxdE6eq3Gf2y+0+AdRDagCgQFARVAABQAQAAEUBEABAAAAAAAAAARBi59/rv3FXDKXvBG1AACAoAKAiqACgAAAAAgAIAqIACAAAAAAAAAxllZqyb15nygudlxmVknVr71uCpx46ijYgCAsBQAUVUAFABQBQARAAQAEqiCAIAAAAAAAACWAkwkBoAAAFABQEVQUAFBUUAABFRAAQEAVEBAAAAAAAAAAAAAAAUAFARVBQUBFUAAAEAqogICAKiAAgAAAAAAAAAAAAAKACgqKAoKCxFAUAEAoIqICAAiiCAIAAAAAAAAAAAAACgQFARVBQUFiKAAAAUEVEBAARUQAEAAAAAAAAAAAAAABQUBFUFgKAKqAAACKAiUEBAFRAQAAAAAAAAAAAAAAAFABYKqACgoAoAAIAgIACVRBAEoAAAAAAAAAAAAAAAKACgIqgAoAKACAAAgIAoggCAAAAAAAAAAAAAAAAAoAKAiqACgAAAgAIAoggCAAAAAAAAzlfjz/qDPN1SzpmWXbv27RNrp0VAAAAAAAFAABRRBQAAAAAQBRBAAEAAAAAAABzzw3Zd+EVrjyyk7/8htpUAAAAAAAAUAAFAFAAEBQAEQAAEAAAAAA0DOVvtN348A53kt4/6k1JN7xymruXVn5RdN4Zbm5ZfwqPk+r9dyTPKTqwxl1Jljreu259PLc/rHI4+e1Yr9Prca8efxLex8atqxO+77L1LRAAAAAAAAAUAAAAAAAAAAAEAAAAAB5uf1kwy6db+bt1/J6hTBf42jtrz/pzVxTaNw7cHJ149WteW1gzRmx1yRGt/dx2r8Z0cuWtOVGsssen92PVjvdmpf50ipMJLlZ2l128SdlRx5eHjzu8sccrO27518NbNw8GeYtkxxaf3Z1y3r2rOnobTjAAAAAAAAAAAUAAAAAAAEAAAAAABZBXz/V/p9uUvHqS5W8ltu5+P/rqOX02Mt4mviZ79/4bWPPqsxP4ev03BOPHplt773W7xOP+nxxj+U217lr3v8p3p0y/77tpg5/1cbN9Xa9vyit5zcuvhUefH0/e5cdmPVrqlm5bPeT28oyelWIAAAAAAAAAAAAAAAAAAAAAAAACwVLlPPmfM8INUHG82spMpqXer7dgLy95PH5mqC58WsMphj1dWWWWXfXm77IqzvPiWMmKdN+bPwitqgAAAAAAAAAAAAAAAAAAAAAAAADHNlrG38Crx6yx1dzd3ddkVnmz6Z0+b99uwhMZn0b/AMc5nr71Z/uKep5JuTpy7X+7psx38bQdMZrv8ybVHzv1D11xuOOFx1q7s76vx9Og6t1XLxb0jFETE+ff4/Zs4cEXiZlMf1LtP2+03v5ceX+pePS81ikzr3GkjjWmPL6T0jWAAAAAAAAAAAAAAAAAAAAAAAAAXEVrpm7fdB5vWTxffuEJx3U3/wB8ivVzf2X8IM+1LeJSPL8fwPnHJiNy72XslbPS8dLVt8qRPf3ET/LTzTMTGpf/2Q==);
  padding-bottom: 20px;
}
.footer{
  text-align: center;
  background-color: grey;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: red;
}